<nav class="navbar navbar-expand-lg navbar-light bg-light navbar border-bottom border-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-right">
 
      <a class="nav-link"  >Complaint Box</a>
        <!-- <a class="nav-link"  routerLink="/signup" *ngIf="!_auth.loggedIn()" routerLinkActive="active">Signup</a> -->
        <!-- <a class="nav-link"  routerLink="/login" *ngIf="!_auth.loggedIn()" routerLinkActive="active">Login</a> -->
        <!-- <a class="nav-link"  routerLink="products">Complaint History</a> -->
        <!-- <a class="nav-link"  routerLink="/userlogin">userlogin</a> -->
        <!-- <a class="nav-link"   routerLink="authors">Authors</a> -->
        <!-- <a class="nav-link" style="cursor:pointer" routerLink="/add">Register</a> -->
        <!-- <a class="nav-link"  *ngIf="_auth.loggedIn()" routerLink="addauthor" >Add Author</a> -->
        <!-- <a class="nav-link" style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="logoutUser()">Logout</a> -->
    </ul>
    
  </div>
</nav>

<div class="container">
  <!-- <router-outlet></router-outlet>      -->
  <router-outlet></router-outlet>
</div>
